---
import { Image } from '@astrojs/image/components';
import dod_logo from "../assets/logo/LOGO_DOD_NE.svg"
---

<Image src={dod_logo}/>
<!-- <span class="self-center ml-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white">DOD Circuits</span> -->
